DISCORD_TOKEN=PASTE_YOUR_NEW_TOKEN_HERE
PREFIX=!
ADMIN_ROLE=VPS Admin
LXC_BRIDGE=lxcbr0
LXC_ROOT=/var/lib/lxc
PINGGY_HOST=free.pinggy.io
DASHBOARD_PORT=5000
DASHBOARD_SECRET=change_me_to_a_long_random_string
DASHBOARD_OPEN=false
MAX_VPS_PER_USER=3
DEFAULT_CPU=1
DEFAULT_RAM=512
DEFAULT_DISK=5
